btn:focus{
    outline: none !important;
}
.container {
     max-width: 800px; 
}
.username{
    font-weight: bold;;
}
.time{

    font-size: 0.7em;
    color: #999;
}
.update-msg{
    text-align: center;
    margin: 20px auto;
}